@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat","Playfair Display", sans-serif !important;
  }
}
/* For WebKit (Chrome, Safari, and newer Edge) */
/* For WebKit (Chrome, Safari, and newer Edge) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #000; /* Color of the scrollbar thumb */
  border-radius: 50px; /* Rounded corners of the thumb (capsule shape) */
}

::-webkit-scrollbar-thumb:hover {
  background: #000; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" for the Firefox scrollbar */
  scrollbar-color: #000 #929292; /* Color of the thumb and the track */
}

/* Change the thumb color on hover */
*::-webkit-scrollbar-thumb:active {
  background: #000;
}

/* Change the scrollbar track color */
*::-webkit-scrollbar-track {
  background: #797878;
  border-radius: 50px;
}

/* Hide scrollbar buttons in Firefox */
*::-webkit-scrollbar-button {
  display: none;
}

/* Adjust scrollbar corner (the space where two scrollbars meet) in Firefox */
*::-webkit-scrollbar-corner {
  background: #606060;
}
